language: go

go:
- "1.10"

# Skip the install step. Don't `go get` dependencies.
install: skip

notifications:
  email: false

# Skip the script step: Don't execute 'go test'.
script: skip

# Do not execute build on latest tag.
branch:
  except:
    - latest

jobs:
  include:
  - stage: check
    script: ./scripts/checker.sh --helm-lint --directories ./bundles --helm-version v2.10.0

  # Creates a release from the tagged version from eny branch
  - stage: deploy
    sudo: required
    services:
      - docker
    before_deploy:
      - if [ -n "$TRAVIS_TAG" ] && [ "$TRAVIS_TAG" != 'latest' ]; then
          docker pull eu.gcr.io/kyma-project/changelog-generator:0.1.0;
          PENULTIMATE=$(./scripts/from_tag.sh ${TRAVIS_TAG});
          docker run --rm -v ${TRAVIS_BUILD_DIR}:/repository -w /repository -e FROM_TAG=${PENULTIMATE} -e LATEST_VERSION=${TRAVIS_TAG} -e GITHUB_AUTH=${GITHUB_TOKEN} -e CONFIG_FILE=scripts/package.json -e SKIP_REMOVING_LATEST=true eu.gcr.io/kyma-project/changelog-generator:0.1.0 sh /app/generate-release-changelog.sh;
          ./scripts/move_changelog.sh;
          docker run --rm -v ${TRAVIS_BUILD_DIR}:/repository -w /repository -e LATEST_VERSION=${TRAVIS_TAG} -e GITHUB_AUTH=${GITHUB_TOKEN} -e CONFIG_FILE=scripts/package.json -e SKIP_REMOVING_LATEST=true eu.gcr.io/kyma-project/changelog-generator:0.1.0 sh /app/generate-full-changelog.sh;
          ./scripts/push.sh;
        fi
      - ./scripts/convert.sh
    after_deploy:
     # Create a branch if the version ends with 0
     - ./scripts/create_release_branch_step.sh $TRAVIS_TAG https://${GITHUB_TOKEN}@github.com/${TRAVIS_REPO_SLUG}
    env:
    deploy:
      provider: releases
      skip_cleanup: true
      api_key: $GITHUB_TOKEN
      file_glob: true
      file: "toCopy/*"
      name: $TRAVIS_TAG
      on:
        # Only tagged commit triggers a release deploy
        tags: true

  # Create a latest release from last master commit
  - stage: deploy
    if: (NOT type IN (pull_request)) AND (branch = master)
    before_deploy:
     - ./scripts/create_latest_tag_step.sh https://${GITHUB_TOKEN}@github.com/${TRAVIS_REPO_SLUG}
     - ./scripts/convert.sh
    env:
    deploy:
      provider: releases
      overwrite: true
      skip_cleanup: true
      api_key: $GITHUB_TOKEN
      file_glob: true
      file: "toCopy/*"